<footer class="page-footer grey darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Story Book</h5>
                <p class="grey-text text-lighten-4">Share Stories Here of any kind. Story Book is an open source tool for creating Stories and saving it as private, public or unpublished and editing or deleting Your own Story.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">contact us:-</h5>
                <div class="footer-icon">
                  <a class="grey-text text-lighten-3" href="#" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                  <a class="grey-text text-lighten-3" href="#!" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  <a class="grey-text text-lighten-3" href="#!" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                  <a class="grey-text text-lighten-3" href="#!" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Binu Kumar
            <a class="grey-text text-lighten-4 right" href="https://github.com/Binu42/Story-Book" target="_blank"><i class="fa fa-git-square" aria-hidden="true"></i> Source Code</a>
            </div>
          </div>
</footer>