body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

p {
    margin: 0;
    font-family: 'Crimson Text', serif;
    font-size: 18px;
}

main {
    flex: 1 0 auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

@media(max-width: 40rem) {
    .side-nav {
        width: 80%;
    }

    .btn {
        width: 92%;
    }

    .side-nav li>a {
        padding: 0 10px;
    }

    img.custom-img {
        height: 150px;
    }

    .card .card-content {
        padding: 10px;
    }
}

.side-nav li>a>i {
    margin-right: 5px;
    color: #050505;
}

.side-nav .fa-github {
    color: #fbfbfb;
}

.side-nav .fa-linkedin {
    color: #00ffdd;
}

.sideNavImg img {
    max-height: none;
    max-width: 100%;
    background-position: center;
    background-size: cover;
}

.fa {
    color: black;
}

.fa-facebook-official {
    color: #1100ff;
}

.fa-linkedin {
    color: #00ffea;
}

.fa-github {
    color: #fbfbfb;
}

.fa-instagram {
    color: #fd4902;
}

.fa-git-square {
    color: #ffffff;
}

.footer-icon a {
    margin-right: 40px;
}

.margin-login {
    margin: 10px;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-align: center;
}

.alert-danger {
    color: #d6172a;
    background-color: #faaeb4;
    border-color: #f5c6cb;
}

.alert-success {
    color: #0a9e0a;
    background-color: #a7f7a7;
    border-color: #69c275f8;
}

.alert-dismissible {
    padding-right: 4rem;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
}

.story-header {
    min-height: 60px;
}

.user-story--title {
    padding-top: 10px;
    min-height: 80px;
}

.story-body {
    height: 120px;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .75rem 1.25rem;
}

button.close {
    background-color: transparent;
    border: 0;
}

#delete-form {
    display: inline;
}

@media(max-width: 400px) {
    nav .brand-logo {
        font-size: 1.8rem;
    }
    .row .col{
        padding: 0;
    }
}

@media(min-width: 800px) {
    .show:hover {
        transform: scale(1.005);
        transition: all 2s;
        box-shadow: 0px 0px 5px lightcoral;
    }

    .chip:hover {
        animation: rotate 2s;
    }

    @keyframes rotate {
        from {
            transform: rotate(5deg);
        }

        to {
            transform: rotate(-5deg);
        }
    }
}