<h1 class="center-align">About</h1>
<div class="row">
    <div class="card center">
        <div class="card-title center-align">Functionality provided to users:- </div>
        <div class="card-content">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header">
                        <i class="fa fa-sign-in"></i>
                        Login Via various popular Sites
                        <span class="new badge blue"></span></div>
                    <div class="collapsible-body">
                        We had provided login by using facebook, google, linkedin, github. using this your account will
                        be fully secure and from this websites we are only extracting your email, name and profile
                        pictures.
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="fa fa-pencil"></i>
                        Editing and Creating new Story
                        <span class="new badge"></span></div>
                    <div class="collapsible-body">
                        <p>We have provided Editing of story by author of it and any loggedIn user can create there own
                            story and can control it like allowing for comments or making story public, private or
                            unpublished. Only public stories is visible to other users whether they are loggedIn or not.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        Deleting of post by author of it.
                        <span class="new badge red"></span>
                    </div>
                    <div class="collapsible-body">
                        Author of story can delete there own story at any time. Delete story will also removed from the
                        public Stories list.
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        Comment by LoggedIn Users
                        <span class="new badge"></span>
                    </div>
                    <div class="collapsible-body">
                        LoggedIn user can add comment to public stories on which comment is allowed. Comment by Author
                        of story will show differently by Author title.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<p class="right-align">version 1.0.0</p>