<div class="center">
    <h2 style="center">Privacy policy</h2>
    <p>data should only be used for the purpose stated and not for any other purposes</p>
    <p>data should not be disclosed without the data subject’s consent</p>
    <p>collected data should be kept secure from any potential abuses</p>
    <p>data subjects should be informed as to who is collecting their data</p>
    <p>data subjects should be allowed to access their data and make corrections to any inaccurate data</p>
</div>