<h2 class="center"><i class="fa fa-user-secret" aria-hidden="true"></i> Privacy policies</h2>
<div class="card">
    <div class="card-content">
        <ul class="collection">
            <li class="collection-item">data should only be used for the purpose stated and not for any other purposes
            </li>
            <li class="collection-item">data should not be disclosed without the data subject’s consent</li>
            <li class="collection-item">collected data should be kept secure from any potential abuses</li>
            <li class="collection-item">data subjects should be informed as to who is collecting their data</li>
            <li class="collection-item">data subjects should be allowed to access their data and make corrections to any
                inaccurate data</li>
        </ul>
    </div>
</div>